.item_index
  =render "header"

  .item_index_body
    .item_image
      = image_tag 'massage.png', class: "setu"
      = image_tag 'ashitsubo.png' , class: "setu"
    .item_all
      .shop.btn
        = link_to "三山接骨院について",  shop_index_path, class: "submit"
      .book.btn
        = link_to "予約をこちらから",  new_shop_path, class: "submit"
      .location.btn
        = link_to "所在地", new_shop_path, class: "submit"
      .staff.btn
        = link_to "スタッフ紹介",  new_shop_path, class: "submit"
      .menu.btn
        = link_to "施術メニュー",  new_shop_path, class: "submit"
      .review.btn
        = link_to "過去の施術事例",  cases_path, class: "submit"

  =render "footer"